body {
    margin-top: 20;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 105vh; /* Full viewport height */
    background: linear-gradient(to right, #8fe2a4, #47db68);
    color: rgb(22, 22, 22);
    text-align: center;
    padding: 0 0px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #ff7a59;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #ff5722;
  }

h1 {
  text-align: center;
  padding: 50px;
}


/*------ABOUT-----------*/
.about-img{
  justify-content: center; /* Centers horizontally */
  align-items: center;
}

/*---EDUCATION-----*/
.col-education {
  border-radius: 10px;
  border-style: groove;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 10px;
}


/*--------SKILLS---------
.skills-section {
  height: 100vh;
  background-color: #f9f9f9;
}*/

.col.skill {
  border-style: groove;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.col.skill ul {
  list-style-type: none; /* Removes default bullet points */
  padding: 0;
}

.col.skill li {
  display: flex; /* Aligns image and text horizontally */
  margin-bottom: 10px;
}

.col.skill .icon {
  width: 20px; /* Adjust icon size */
  height: 20px; /* Adjust icon size */
  margin-right: 10px; /* Spacing between image and text */
}

/*------PROJECTS---------
.projects-section {
  height: 100vh; /* Full viewport height 
  background-color: #f9f9f9;
}*/

.col.project-item {
  border-radius: 10px;
  border-style: groove;
  background-color: #f9f9f9;
  margin: 10px;
}


/*------LEARNING------------*/
.col.learn {
  border-radius: 10px;
  border-style: groove;
  background-color: #f9f9f9;
  margin: 10px;
}