<div class="row">
  <h1>About Me</h1>
    <div class="col-5 about-img">
      <img src="./static/img/mind.webp" alt="perfil" width="100%">
    </div>
    <div class="col-7">

      <p>👋 <strong>Hi, I'm Angel Chaico!</strong> I combine <strong>AI, software, science, and agriculture</strong> to solve real-world challenges. 
        With a background in <strong>Physics (UNI)</strong> and studies in <strong>Agricultural Engineering (UNALM)</strong>, 
        I focus on <strong>machine learning and backend development</strong>.
      </p>
      
      <p>
        I’ve contributed to energy and computer vision research, and I build projects in <strong>software and data science</strong>. 
        Always learning, I explore <strong>AI, precision agriculture, and tech trends</strong>.
      </p>
      
      <p>🚀 I’m growing my <strong>portfolio</strong> and <strong>Learning Hub</strong>. Let’s connect!</p>
            
    </div>
  </div> 
</div>