<div class="row">
  <h1>About Me</h1>

    <div class="col-5 about-img">
      <img src="./static/img/mind.webp" height="70%" width="100%">
    </div>
    <div class="col-7">
      <div class="row">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link about active" href="#">Me</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link about" href="#">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link about" href="#">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link about" href="#">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link about" href="#">Goals</a>
          </li>
          -->
        </ul>
      </div>

      <div class="row about-content-tab live" id="tab1">
        <ul>
          <li><strong>About Me:</strong></li>
          <ul>
            <li>Physics, interest in AI and engineering</li>
            <!--
            <li>Short-term plan to work in web development, AI, and GIS while pursuing agricultural engineering</li>
            <li>Passionate about AI and agricultural engineering</li>
            <li>Hands-on projects involving drones, robots, and sensors</li>
            -->
          </ul>
          <li><strong>Education:</strong></li>
          <ul>
            <li>Bachelor's degree in Physics from a public university</li>
            <li>Self-learning AI and backend development</li>
          </ul>
          <li><strong>Experience:</strong></li>
          <ul>
            <li>Personal and university projects in web development and AI</li>
            <li>Training YOLO models for vehicle detection</li>
            <li>Creating a personal webpage to showcase learning and achievements</li>
          </ul>
          <li><strong>Hobbies:</strong></li>
          <ul>
            <li>Learning languages (German, Chinese) to expand knowledge</li>
            <li>Hands-on experimentation with software and engineering tools</li>
          </ul>
          <li><strong>Goals:</strong></li>
          <ul>
            <li>Short-term: Gain experience in web development, AI, and GIS</li>
            <li>Mid-term: Establish careers in agricultural and AI engineering</li>
            <li>Continuously contribute to AI applications in agriculture</li>
          </ul>
        </ul>
      </div>
      
    </div>
</div> 


</div>