<h1>Education</h1>

<div class="row" style="font-size: 12px;">

  <!-- Left Column: Education Details -->
  <div class="col-12 col-md-7">

<!-- Self-Taught -->
<div class="education-item mb-4">
  <div class="d-flex align-items-center mb-2">
    <img src="./static/img/learning.png" alt="Self-Taught" style="width: 40px; height: auto;" class="me-2">
    <div>
      <h5 class="mb-0">Self-Taught</h5>
      <p class="mb-0" style="font-size: 0.7rem;">Focused on software development, AI, and backend technologies</p>
      <p class="mb-0" style="font-size: 0.7rem;">Continuously learning through projects and courses.</p>
    </div>
  </div>
  <ul>
    <li><strong>Machine Learning & AI</strong>: Implementing models and algorithms.</li>
    <li><strong>Backend Development</strong>: Building scalable APIs with <strong>Django</strong> and <strong>FastAPI</strong>.</li>
    <li><strong>Frontend Development</strong>: Creating responsive apps with <strong>React</strong>.</li>
  </ul>
</div>


<!-- UNALM -->
<div class="education-item mb-4">
  <div class="d-flex align-items-center mb-2">
    <img src="./static/img/UNALM.jpg" alt="UNALM" style="width: 40px; height: auto;" class="me-2">
    <div>
      <h5 class="mb-0">Universidad Nacional Agraria de la Molina (UNALM)</h5>
      <p class="mb-0" style="font-size: 0.7rem;">Bachelor's in Agricultural Engineering (in progress)</p>
      <p class="mb-0" style="font-size: 0.7rem;">Focusing on technology-driven solutions for sustainability.</p>
    </div>
  </div>
  <ul>
    <li><strong>AI & Automation for Sustainability</strong>: Precision farming and resource efficiency.</li>
    <li><strong>GIS & Geomatics</strong>: Spatial data for agricultural decision-making.</li>
    <li><strong>Water Management & Renewable Energy</strong>: Sustainable irrigation and energy solutions.</li>
  </ul>
</div>


<!-- UNI -->
<div class="education-item mb-4">
  <div class="d-flex align-items-center mb-2">
    <img src="./static/img/UNI.png" alt="UNI" style="width: 40px; height: auto;" class="me-2">
    <div>
      <h5 class="mb-0">Universidad nacional de Ingenieria (UNI)</h5>
      <p class="mb-0" style="font-size: 0.7rem;">Bachelor of Science in Physics</p>
      <p class="mb-0" style="font-size: 0.7rem;">Completed: 2024, cumulative GPA: 3.5</p>
    </div>
  </div>
  <ul>
    <li><strong>Mathematical Methods</strong>: Analytical approaches to complex problems.</li>
    <li><strong>Statistical Physics</strong>: Modeling physical systems with probability.</li>
    <li><strong>Programming & Technologies</strong>: Computational tools and modern tech.</li>
  </ul>
</div>



  </div>

  <!-- Right Column: Image -->
  <div class="col-12 col-md-5">
    <img src="./static/img/rectorados.png" alt="rectorados" width="100%">
  </div>

</div>
