<h1>Education</h1>

<div class="row">

    <div class="col-5 border">
        carousell
    </div>

    <div class="col-7">

        <div class="row border m-3">
            <div class="col-4 d-flex justify-content-center align-items-center">
                <img src="./static/img/UNALM.jpg" alt="UNALM" width="40%">
            </div>
            <div class="col-8">
                <h5>Universidad Nacional Agraria La Molina</h5>
                <p>Ingenieria agricola</p>
            </div>
        </div>

        <div class="row border m-3">
            <div class="col-4 d-flex justify-content-center align-items-center">
                <img src="./static/img/UNI.png" alt="UNALM" width="40%">
            </div>
            <div class="col-8">
                <h5>Universidad Nacional de Ingeniería</h5>
                <p>Fisica</p>
            </div>
        </div>

        <div class="row border m-3">
            <div class="col-4 d-flex justify-content-center align-items-center">
                <img src="./static/img/SENATI.png" alt="UNALM" width="40%">
            </div>
            <div class="col-8">
                <h5>SENATI</h5>
                <p>Ingenieria de sofware e inteligencia artificial</p>
            </div>
        </div>

    </div>

</div>