<h1>Learning Hub</h1>
<p>
  (The notions pages will be displayed in the future)
</p>

<div class="row">

  <div class="col learn">
    <h4>Technologies</h4>
    <p>Exploring AI, Backend Development, GIS, and software engineering.</p>
  </div>

  <div class="col learn">
    <h4>Agriculture</h4>
    <p>Precision farming, sustainability, and GIS applications in agriculture.</p>
  </div>

  <div class="col learn">
    <h4>Languages</h4>
    <p>Currently learning German, Chinese, and Quechua to expand communication skills.</p>
  </div>
</div>

<div class="row">

  <div class="col learn">
    <h4>Science</h4>
    <p>Physics, data science, and scientific advancements.</p>
  </div>

  <div class="col learn">
    <h4>Hobbies</h4>
    <p>Enjoying music, reading, exercising, and exploring new interests.</p>
  </div>

  <div class="col learn">
    <h4>Projects</h4>
    <p>Enjoying music, reading, exercising, and exploring new interests.</p>
  </div>

</div>

