<h1>Projects</h1>
<div class="row">
  <div class="col project-item">
    <h5>Personal Web Page</h5>
    <img src="" alt="port" style="width:100%">
    <p>
      My personal webpage.</br>
      
      <img src="https://img.shields.io/badge/javascript-%23323330.svg?logo=javascript&logoColor=%23F7DF1E" alt="JavaScript Badge">
      <img src="https://img.shields.io/badge/html5-%23E34F26.svg?logo=html5&logoColor=white">
      <img src="https://img.shields.io/badge/css3-%231572B6.svg?logo=css3&logoColor=white">
      <img src="https://img.shields.io/badge/Bootstrap-7952B3?logo=bootstrap&logoColor=fff">
      <img src="https://img.shields.io/badge/github-%23121011.svg?logo=github&logoColor=white"></br>
    </p>
    <p>
      <button type="button" class="btn btn-secondary" onclick="openNotion('https://github.com/angelTCC/MyWebPage')">GitHub</button>
      <button type="button" class="btn btn-secondary" onclick="openNotion('')">Demo</button>
    </p>
    
  </div>
  <div class="col project-item">
    Project Name 
  </div>
  <div class="col project-item">
    Project Name 
  </div>
  <div class="col project-item">
    Project Name 
  </div>
</div>

<div class="row">
  <div class="col project-item">
    Project Name 
    <img src="./static/img/work-in-pro.png" alt="Wedding" style="width:60%">
    Brief Description
    - Tools/Technologies Used  
    - Link to GitHub or Demo 
  </div>
  <div class="col project-item">
  </div>
  <div class="col project-item">
  </div>
  <div class="col project-item">
  </div>
</div>
