<h1>Projects</h1>
<div class="row">
  <div class="col project-item">
    Project Name 
    <img src="./static/img/work-in-pro.png" alt="Wedding" style="width:60%">
    Brief Description
    - Tools/Technologies Used  
    - Link to GitHub or Demo 
  </div>
  <div class="col project-item">
    Project Name 
    <img src="./static/img/work-in-pro.png" alt="Wedding" style="width:60%">
    Brief Description
    - Tools/Technologies Used  
    - Link to GitHub or Demo 
  </div>
  <div class="col project-item">
    Project Name 
    <img src="./static/img/work-in-pro.png" alt="Wedding" style="width:60%">
    Brief Description
    - Tools/Technologies Used  
    - Link to GitHub or Demo 
  </div>
  <div class="col project-item">
    Project Name 
    <img src="./static/img/work-in-pro.png" alt="Wedding" style="width:60%">
    Brief Description
    - Tools/Technologies Used  
    - Link to GitHub or Demo 
  </div>
</div>

<div class="row">
  <div class="col project-item">
    Project Name 
    <img src="./static/img/work-in-pro.png" alt="Wedding" style="width:60%">
    Brief Description
    - Tools/Technologies Used  
    - Link to GitHub or Demo 
  </div>
  <div class="col project-item">
  </div>
  <div class="col project-item">
  </div>
  <div class="col project-item">
  </div>
</div>
