<h1>Projects</h1>
<!--

<div class="row g-3 mb-5">
  <h4>Research projects</h4>

  <div class="col-12 col-md-4">
    <div class="project-item">
      <h5>Simulation of stochastic process</h5>
      <p style="font-size: 14px;">
        A collection of simulations and theory on stochastic processes, including Brownian motion, the ratchet effect, and epidemic spread using Markov chains.
      </p>
      <p>
        <img src="https://img.shields.io/badge/python-3670A0?logo=python&logoColor=ffdd54">
      </p>
      <p>
        <button type="button" class="btn btn-secondary btn-sm" onclick="openNotion('https://github.com/angelTCC/Simulation-of-stochastic-process')">GitHub</button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="">2022</button>
      </p>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="col project-item">
      <h5>Energy Storage Research</h5>
      <p style="font-size: 14px;">

      </p>
      <p>

      </p>
      <p>

      </p>
    </div>
  </div>
  <div class="col-12 col-md-4">
      <div class="project-item">
      <h5>Vehicle Tracking</h5>
      <p style="font-size: 14px;">
        Fine-tuned YOLO model for vehicle detection and tracking, enabling automated counting of various vehicle types as they cross a line.
        last modification 15/01/2025.
      </p>
      <p>
        <img src="https://img.shields.io/badge/python-3670A0?logo=python&logoColor=ffdd54">
        <img src="https://img.shields.io/badge/yolo-blue?">
        <img src="https://img.shields.io/badge/-Streamlit-FF4B4B?style=flat&logo=streamlit&logoColor=white">
        <img src="https://img.shields.io/badge/Ultralytics-blue">
        <img src="https://img.shields.io/badge/Supervision-purple">
      </p>
      <p>
        <button type="button" class="btn btn-secondary btn-sm" onclick="openNotion('https://github.com/angelTCC/VehicleTracking')">GitHub</button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="">Abr 2023 ‑ Mar 2024</button>
      </p>
    </div>
  </div>
</div>


<div class="row g-3">
  <h4>Personal projects</h4>
  <div class="col-12 col-md-4">
    <div class="project-item">
      <h5>Personal Web Page</h5>
      <p style="font-size: 14px;">
        My personal website is where I put my information, such as my education and interests.
      </p>
      <p>      
        <img src="https://img.shields.io/badge/javascript-%23323330.svg?logo=javascript&logoColor=%23F7DF1E" alt="JavaScript Badge">
        <img src="https://img.shields.io/badge/html5-%23E34F26.svg?logo=html5&logoColor=white">
        <img src="https://img.shields.io/badge/css3-%231572B6.svg?logo=css3&logoColor=white">
        <img src="https://img.shields.io/badge/Bootstrap-7952B3?logo=bootstrap&logoColor=fff">
        <img src="https://img.shields.io/badge/github-%23121011.svg?logo=github&logoColor=white">
      </p>
      <p>
        <button type="button" class="btn btn-secondary btn-sm" onclick="openNotion('https://github.com/angelTCC/MyWebPage')">GitHub</button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="">01/20/2025</button>
      </p>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="project-item">
      <h5>Little Lemon Restaurant with Django</h5>
      <p style="font-size: 14px;">
        This project uses Django to build a web application and RESTful API for Little Lemon, a local bistro.
      </p>
      <p>
        <img src="https://img.shields.io/badge/Django-092E20?logo=django&logoColor=green">
        <img src="https://img.shields.io/badge/html5-%23E34F26.svg?logo=html5&logoColor=white">
        <img src="https://img.shields.io/badge/css3-%231572B6.svg?logo=css3&logoColor=white">
        <img src="https://img.shields.io/badge/Bootstrap-7952B3?logo=bootstrap&logoColor=fff">
      </p>
      <p>
        <button type="button" class="btn btn-secondary btn-sm" onclick="openNotion('https://github.com/angelTCC/Little-Lemon-Restaurant/tree/main')">GitHub</button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="">26/01/2025</button>
      </p>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="project-item">
      <h5>Little Lemon Restaurant with React </h5>
      <p style="font-size: 14px;">
        Project with a responsive website featuring Home, About, Menu, and Reservation pages. Built using React and React-Bootstrap.
      </p>
      <p>
        <img src="https://shields.io/badge/react-black?logo=react">
        <img src="https://img.shields.io/badge/Framework-React_Bootstrap-informational?style=flat&logo=bootstrap&logoColor=white&color=informational">
      </p>
      <p>
        <button type="button" class="btn btn-secondary btn-sm" onclick="openNotion('https://github.com/angelTCC/little-lemon-restaurant-react')">GitHub</button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="">25/02/2025</button>
      </p>
    </div>
  </div>
</div>

<div class="row g-3">
  <div class="col-12 col-md-4">
    <div class="project-item">
      <h5>Agricultural Management System</h5>
      <p style="font-size: 14px;">
        A farm management company upgrades from spreadsheets to a PostgreSQL system for better data control, security, and performance.
      </p>
      <p>
        <img src="https://img.shields.io/badge/PostgreSQL-316192?logo=postgresql&logoColor=white">
        <img src="https://img.shields.io/badge/-Flask-000000?style=flat-square&logo=flask&logoColor=white">
      </p>
      <p>
        <button type="button" class="btn btn-secondary btn-sm" onclick="openNotion('https://github.com/angelTCC/AgriculturalManagementSystem')">GitHub</button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="">08/04/2025</button>
      </p>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="project-item">
      <h5>Pathogen classification</h5>
      <p style="font-size: 14px;">
        Leaf disease classifier using Flask API and React frontend. Trained with TensorFlow and Keras Tuner to detect bacterial, fungal, pest, or viral infections.    </p>
      <p>
        <img src="https://img.shields.io/badge/-Keras-D00000?logo=Keras&logoColor=white">
        <img src="https://img.shields.io/badge/-ReactJs-61DAFB?logo=react&logoColor=white&style=flat">
        <img src="https://img.shields.io/badge/-Flask-000000?style=flat-square&logo=flask&logoColor=white">
        <img src="https://img.shields.io/badge/tensorflow-v2.1-darkgreen">
      </p>
      <p>
        <button type="button" class="btn btn-secondary btn-sm" onclick="openNotion('https://github.com/angelTCC/Pathogen-Classification')">GitHub</button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="">13/04/2025</button>
      </p>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="project-item">
      <h5>Percolation Simulation with Quick-Union algorithm</h5>
      <p style="font-size: 14px;">
        Java implementation of Union-Find algorithm to solve and analyze grid percolation problems. </p>
      <p>
        <img src="https://img.shields.io/badge/Java-000000?logo=OpenJDK">
        <img src="https://img.shields.io/badge/JavaFx-21-blue">
        <img src="https://img.shields.io/badge/Intellij%20Idea-000?logo=intellij-idea">
      </p>
      <p>
        <button type="button" class="btn btn-secondary btn-sm" onclick="openNotion('https://github.com/angelTCC/Percolation-UnionFind')">GitHub</button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="">19/04/2025</button>
      </p>
    </div>
  </div>
</div>

<div class="row g-3">
  <div class="col-12 col-md-4">
    <div class="project-item">
      <h5>AgriTracker App</h5>
      <p style="font-size: 14px;">
        A mobile application built with React Native and FastAPI that allows users to register, log in, and manage agricultural field data.
      </p>
      <p>
        <img src="https://img.shields.io/badge/-React_Native-05122A?style=flat&logo=react">
        <img src="https://img.shields.io/badge/-MongoDB-4DB33D?style=flat&logo=mongodb&logoColor=FFFFFF">
        <img src="https://img.shields.io/badge/FastAPI-009688?style=flat&logo=FastAPI&labelColor=555&logoColor=white">
        <img src="https://img.shields.io/badge/Expo-000000?logo=Expo&logoColor=white">
        <img src="https://img.shields.io/badge/MongoDB-Atlas-brown">
      </p>
      <p>
        <button type="button" class="btn btn-secondary btn-sm" onclick="openNotion('https://github.com/angelTCC/AgriTrackerApp')">GitHub</button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="">30/04/2025</button>
      </p>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="project-item">
      <h5>Report App</h5>
      <p>
        ReportApp is a mobile application built with React Native that allows users to record and view custom reports. It features local data storage, photo capture, and weather-based location information.
      <p>
      </p>
      <p>
        <img src="https://img.shields.io/badge/-React_Native-05122A?style=flat&logo=react">
        <img src="https://img.shields.io/badge/SQLite-blue?logo=sqlite&logoColor=white">
        <img src="https://img.shields.io/badge/Expo-000000?logo=Expo&logoColor=white">
      </p>
      <p>
        <button type="button" class="btn btn-secondary btn-sm" onclick="openNotion('https://github.com/angelTCC/ReportApp')">GitHub</button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="">22/05/2025</button>
      </p>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div >
      <h5></h5>
      <p style="font-size: 14px;">
      <p>
      </p>
      <p>
      </p>
    </div>
  </div>
</div>

</div>

-->