<h1 style="text-align:center; font-size: 2.5em; margin-bottom: 1em;">💼 Skills</h1>

<div style="display: flex; flex-wrap: wrap; gap: 2rem; justify-content: center;">

  <div style="flex: 1 1 300px; background-color: #f9f9f9; border-radius: 16px; padding: 1.5rem; box-shadow: 0 4px 12px rgba(0,0,0,0.1);">
    <h5>🧠 Lenguajes</h5>
    <p>
      <img src="https://img.shields.io/badge/HTML5-E34F26?logoColor=white">
      <img src="https://img.shields.io/badge/CSS3-1572B6?logo=css3&logoColor=white">
      <img src="https://img.shields.io/badge/Java-000000?logo=openjdk&logoColor=white">
      <img src="https://img.shields.io/badge/Python-3776AB?logo=python&logoColor=white">
      <img src="https://img.shields.io/badge/JavaScript-F7DF1E?logo=javascript&logoColor=black">
    </p>
  </div>

  <div style="flex: 1 1 300px; background-color: #f9f9f9; border-radius: 16px; padding: 1.5rem; box-shadow: 0 4px 12px rgba(0,0,0,0.1);">
    <h5>⚙️ Backend</h5>
    <p>
      <!--
      <img src="https://img.shields.io/badge/Node.js-339933?logo=node.js&logoColor=white">
      <img src="https://img.shields.io/badge/Express.js-000000?logo=express&logoColor=white">
    -->
      <img src="https://img.shields.io/badge/Django-092E20?logo=django&logoColor=white">
      <img src="https://img.shields.io/badge/Flask-000000?logo=flask&logoColor=white">
      <img src="https://img.shields.io/badge/FastAPI-009688?logo=FastAPI&logoColor=white">
      <img src="https://img.shields.io/badge/SQLite-003B57?logo=sqlite&logoColor=white">
      <img src="https://img.shields.io/badge/PostgreSQL-316192?logo=postgresql&logoColor=white">
      <img src="https://img.shields.io/badge/MongoDB-4DB33D?logo=mongodb&logoColor=white">
    </p>
  </div>

  <div style="flex: 1 1 300px; background-color: #f9f9f9; border-radius: 16px; padding: 1.5rem; box-shadow: 0 4px 12px rgba(0,0,0,0.1);">
    <h5>🤖 Machine Learning</h5>
    <p>
      <img src="https://img.shields.io/badge/TensorFlow-FF6F00?logo=tensorflow&logoColor=white">
      <!--      <img src="https://img.shields.io/badge/PyTorch-EE4C2C?logo=pytorch&logoColor=white">
-->
      <img src="https://img.shields.io/badge/Scikit_Learn-F7931E?logo=scikit-learn&logoColor=white">
      <img src="https://img.shields.io/badge/Keras-D00000?logo=keras&logoColor=white">
    </p>
  </div>

  <div style="flex: 1 1 300px; background-color: #f9f9f9; border-radius: 16px; padding: 1rem; box-shadow: 0 4px 12px rgba(0,0,0,0.1);">
    <h5>🎨 Frontend</h5>
    <p>
      <img src="https://img.shields.io/badge/React-61DAFB?logo=react&logoColor=black">
      <!--      <img src="https://img.shields.io/badge/Next.js-000000?logo=next.js&logoColor=white">
-->
      <img src="https://img.shields.io/badge/Bootstrap-7952B3?logo=bootstrap&logoColor=white">
    </p>
  </div>

  <div style="flex: 1 1 300px; background-color: #f9f9f9; border-radius: 16px; padding: 1.5rem; box-shadow: 0 4px 12px rgba(0,0,0,0.1);">
    <h5>🧰 Tools</h5>
    <p>
      <img src="https://img.shields.io/badge/GitHub-121011?logo=github&logoColor=white">
      <img src="https://img.shields.io/badge/Git-FF7F00?logo=git&logoColor=white">
      <img src="https://img.shields.io/badge/VS_Code-007ACC?logo=visual-studio-code&logoColor=white">
      <img src="https://img.shields.io/badge/IntelliJ_IDEA-000000?logo=intellij-idea&logoColor=white">
      <img src="https://img.shields.io/badge/LaTeX-008080?logo=latex&logoColor=white">
      <img src="https://img.shields.io/badge/Notion-000000?logo=notion&logoColor=white">

    </p>
  </div>

<!--
  <div style="flex: 1 1 300px; background-color: #f9f9f9; border-radius: 16px; padding: 1.5rem; box-shadow: 0 4px 12px rgba(0,0,0,0.1);">
    <h5>📦 DevOps</h5>
    <p>
      <img src="https://img.shields.io/badge/Docker-2496ED?logo=docker&logoColor=white">
      <img src="https://img.shields.io/badge/Kubernetes-326CE5?logo=kubernetes&logoColor=white">
    </p>
  </div>  
-->

  <div style="flex: 1 1 300px; background-color: #f9f9f9; border-radius: 16px; padding: 1.5rem; box-shadow: 0 4px 12px rgba(0,0,0,0.1);">
    <h5>📱 Mobile</h5>
    <p>
      <img src="https://img.shields.io/badge/React_Native-20232A?logo=react&logoColor=61DAFB">
    </p>
  </div>

</div>