<h1>Skills</h1>

<div class="row">

  <div class="col">
    <h5>Programmin</h5>
    <lu>
      <li>Python</li>
      <li>R</li>
      <li>SQL</li>
      <li>Javascript</li>
    </lu>
  </div>
  <div class="col">
    <h5>Web development</h5>
  
    <h6>Backend</h6>
    <lu>
      <li>Django</li>
      <li>Node</li>
    </lu>
  
    <h6>Frontend</h6>
    <lu>
      <li>React</li>
      <li>Bootstrap</li>
      <li>HTML</li>
      <li>CSS</li>
    </lu>
  </div>
  
  <div class="col">
    <h5>AI</h5>
    <lu>
      <li>OpenCV</li>
      <li>HuggingFace</li>
      <li>Sklearn</li>
    </lu>
  </div>
  
  <div class="col">
    <h5>GIS</h5>
    <lu>
      <li>ArcGIS Pro</li>
      <li>QGIS</li>
      <li>ENVI</li>
    </lu>
  </div>
  
  <div class="col">
    <h5>Ingeniering</h5>
  </div>
</div>