<h1>Skills</h1>

<div class="row">

  <div class="col skill">
    <h5>Programming</h5>
    <lu>
      <li><img src="./static/img/python.svg" alt="Python" class="icon">Python</li>
      <li><img src="./static/img/r.svg" alt="R" class="icon">R</li>
      <li><img src="./static/img/SQL.svg" alt="SQL" class="icon">SQL</li>
      <li><img src="./static/img/js.svg" alt="JS" class="icon">JavaScripts</li>
    </lu>
  </div>
  <div class="col skill">
    <h5>Web development</h5>
  
    <h6>Backend</h6>
    <lu>
      <li><img src="./static/img/django.svg" alt="django" class="icon">Django</li>
      <!--<li><img src="./static/img/node.svg" alt="node" class="icon">Node</li>-->
    </lu>
  
    <h6>Frontend</h6>
    <lu>
      <li><img src="./static/img/react.svg" alt="react" class="icon">React</li>
      <li><img src="./static/img/bootstrap.svg" alt="bootstrap" class="icon">Bootstrap</li>
      <li><img src="./static/img/HTML.svg" alt="HTML" class="icon">HTML</li>
      <li><img src="./static/img/CSS.svg" alt="CSS" class="icon">CSS</li>
    </lu>
  </div>
  
  <div class="col skill">
    <h5>ML and DL</h5>
    <lu>
      <li><img src="./static/img/opencv.svg" alt="opencv" class="icon">OpenCV</li>
      <li><img src="./static/img/sk.png" alt="sklearn" class="icon">sklearn</li>
      <li><img src="./static/img/tf.svg" alt="tf" class="icon">TensorFlow</li>
      <!--
      <li><img src="./static/img/hf.svg" alt="hf" class="icon">HuggingFace</li>
      -->
    </lu>
  </div>
  
  <div class="col skill">
    <h5>GIS</h5>
    <lu>
      <!--
      <li><img src="./static/img/qgis.svg" alt="qgis" class="icon">QGIS</li>
      <li><img src="./static/img/sat.svg" alt="sat" class="icon">SAT</li>
      <li><img src="./static/img/envi.svg" alt="envi" class="icon">ENVI</li>
      -->
      <li><img src="./static/img/arcgis.png" alt="arcgis" class="icon">ArcGIS</li>
      
    </lu>
  </div>

</div>