<div class="row">
    <h1>Topics</h1>
  <div class="col topic-col">
    <h4>AI Ingenieering</h4>
    <p style="font-size: 14px;">
      With the advancement of computation and the implementation of technologies like ChatGPT, 
      new investments are being made in the field of AI. We now have access to more data, faster 
      computers, and improved tools. As a result, the future will be shaped by individuals who know 
      how to apply AI, rather than create it, as many companies are already focusing on the development 
      of AI models. These individuals must be skilled in implementing general AI models to 
      address specific problems. They are AI engineers.
    </p>

    <p style="font-size: 14px;">
      In my self-learning journey in this field, I created this page, in Notion,
      to showcase all the concepts I have been learning.
    </p>
    <button type="button" class="btn btn-secondary">Notion</button>
  </div>
  <div class="col topic-col">
    <h4>Applied Scientist</h4>
    <p style="font-size: 14px;">
      We are living in a unique era, the dawn of the aerospace age, thanks to companies like SpaceX. 
      The industry has seen significant investments, raising the question of why and how investors 
      can profit. One key factor is the application of satellites, which can greatly enhance telecommunications 
      across various sectors. One area with promising potential is satellite imagery and its applications. 
      With my background in physics, I aim to apply remote sensing techniques to sectors such as agriculture, 
      environment, mining, and more.
    </p>
    <button type="button" class="btn btn-secondary">Notion</button>
  </div>
  <div class="col topic-col">
    <h4>Agriculture Ingenieering</h4>
    <p style="font-size: 14px;">
      We are facing challenging times, with energy and food security being some of the key issues. 
      Agricultural engineering not only addresses food-related problems but also plays a crucial role 
      in projects related to energy, hydrology, agroindustry, and the environment. By applying agricultural 
      concepts, we can improve the application and understanding of AI models and remote sensing, especially 
      since agriculture is often focused on fieldwork, making it an ideal complement to computer-based analysis. 
      Examples of this include contrasting soil and water components using remote sensing, interpreting the 
      results of models applied to agriculture, monitoring fields with satellite imagery, studying land to 
      develop energy projects like solar and wind, and more.
    </p>
    <button type="button" class="btn btn-secondary">Notion</button>
  </div>
</div>
